# SPDX-FileCopyrightText: 2026 Jarosław Pelczar <jarek@jpelczar.com>
#
# SPDX-License-Identifier: BSD-2-Clause

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
*.o
*.elf

# Python
__pycache__/
*.py[cod]
.python-version
.venv/
venv/

# Conan
.conan/
conan.lock
conanbuildinfo.*
graph_info.json

# vcpkg
vcpkg_installed/
vcpkg_packages/

# Visual Studio Code
.vscode/

# CLion
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
cmake-build-*
build*
!scripts/build-matrix.sh
!scripts/build-docs.sh
.cache

# Vagrant (local BSD verification, see docs/bsd-vagrant-testing.md)
.vagrant/
